.mds-text-field{
    background-color: #f5f5f5;
    width: 280px;
    height: 56px;
    top: 100px;
    margin: auto;
    position: relative;
    margin-top: 20px;
}
.mds-text-field__input{
    font-family: 'Roboto', sans-serif;
    border: 1px solid #9e9e9e;
    padding-left: 12px; 
    padding-right: 12px;
    padding-top: 16px;
    border-radius: 5px 5px 0px 0px; 
    width: 256px;
    height: 40px;
    background-color: #ffffff
}
.mds-text-field__input:focus{
    outline: none;
}
.mds-text-field__lable{
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease;
    position: absolute;
    font-size: 16px;
    padding-left: 12px;
    top: 20px;
}
.mds-text-field__lable--selected{
    color: #6200ee;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease;
    position: absolute;
    font-size: 12px;
    padding-left: 12px;
    top: 10px;
}
.mds-text-field__input:focus + .mds-text-field__lable{
    color: #6200ee;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease;
    position: absolute;
    font-size: 12px;
    padding-left: 12px;
    top: 10px;
}
.mds-text-field__underline{
    background-color: #6200ee;
    display: inline-block;
    height: 2px;
    left: 0px;
    position: absolute;
    top: 58px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    width: 282px;
    z-index: 100
}
.mds-text-field__input:focus + .mds-text-field__underline{
    transform: scale(1)
} 
.mds-text-field__input:disabled {
    background-color: darkgray;
}
.mds-switch{
    position: relative;
    top: 118px;
    left: 188px;
    width: 70px
}
.mds-switch__checkbox{
    display: none;
}
.mds-switch__lable{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 16px;
    padding: 16px 0 16px 44px;
}
.mds-switch__lable:before, .mds-switch__lable:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.mds-switch__lable:before{
    left: 1px;
    width: 36px;
    height: 14px;
    background-color: #9E9E9E;
    border-radius: 8px;
}
.mds-switch__lable:after{
    left: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.mds-switch__checkbox:checked + .mds-switch__lable:before{
    background-color: #6200ee89;
}
.mds-switch__checkbox:checked + .mds-switch__lable:after{
    background-color: #6200eeff;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}
.mds-switch__checkbox:checked + .mds-switch__lable{
    display: inline-block;
}
.mds-switch__checkbox:checked:disabled + .mds-switch__lable:after{
    background-color: darkgray;
}
.mds-switch__checkbox:checked:disabled + .mds-switch__lable::before{
    background-color: darkgray;
}
.mds-switch__checkbox:disabled + .mds-switch__lable:after{
    background-color: darkgray;
}

.mds-checkbox {
    display: block;
    position: relative;
    margin-bottom: 33px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 122px;
    left: 213px;
}
.mds-checkbox__input {
    position: absolute;
    cursor: pointer;
}
.mds-checkbox__label {
    display: block;
    height: 14px;
    position: absolute;
    width: 14px;
    background: #ffffff;
    border: 3px solid #757575;
    border-radius: 4px;
}
.mds-checkbox__input:checked ~ .mds-checkbox__label {
    background: #6200eeff;
    border: 3px solid #6200eeff;
}
.mds-checkbox__input:checked:disabled ~ .mds-checkbox__label {
    background: #757575;
    border: 3px solid #757575;
}
.mds-checkbox__label::after {
    font-family: "Material Icons";
    content: "check";
    position: absolute;
    top: -3px;
    left: -2px;
    display: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}
.mds-checkbox__input:checked ~ .mds-checkbox__label::after {
    display: block;
  }
.mds-radio{
    position: relative;
    left: 147px;
    display: flex;
    flex-wrap: wrap;
    top: 158px;
    padding-left: 50px;
    margin-bottom: 39px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: "Roboto", sans-serif;
}
.mds-radio .mds-radio__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.mds-radio__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    border-radius: 14px;
    border: 4px solid #757575;
}
.mds-radio .mds-radio__input:checked ~ .mds-radio__checkmark {
    background-color: #ffffff;
    border: 4px solid #3700b2;
}
.mds-radio .mds-radio__input:checked:disabled ~ .mds-radio__checkmark {
    border: 4px solid #757575;
}
  
.mds-radio__checkmark::after {
    content: "";
    position: absolute;
    display: none;
}
  
.mds-radio .mds-radio__input:checked ~ .mds-radio__checkmark::after {
    display: block;
}
.mds-radio .mds-radio__input:checked:disabled ~ .mds-radio__checkmark::after {
    display: block;
    background: #757575;
}
.mds-radio .mds-radio__checkmark::after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #3700b3;
}
.mds-form{
    width: 400px;
    height: 900px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}
.mds-header{
    position: absolute;
    width: 400px;
    height: 70px;
    background: #4a148c;
    text-align: center;
    padding-bottom: 10px;
}
.mds-header__text{
    color: #ffffff
}